@import url(reset.css);

#page {
  display: grid;
  width: 100%;
  height: 200px;
  grid-template-rows: [header-left] 30px [main-left] 1fr [footer-left] 30px [footer-right];
  grid-template-columns: [header-leftt] 120px [header-middle] 1fr [header-rightt];
}

header {
  background-color: lime;
  grid-area: header-left / header-leftt / main-left / header-rightt;
}

nav {
  background-color: lightblue;
  grid-area: main-left / header-leftt / footer-right / header-middle; 
}

main {
  background-color: yellow;
  grid-area: main-left / header-middle / footer-left / header-rightt;
}

footer {
  background-color: red;
  grid-area: footer-left / header-middle / footer-right / header-rightt;
} */