@import url(reset.css);
@font-face {
	font-family: 'Space Mono';
	src: url(../SpaceMono-Regular.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	width: 100vw;
}

.header {
	background-color: #FF0000;
	width: 28.7rem;
	font-family: Arial;
	text-align: center;
	color: #FFFFFF;
	font-size: 6rem;
	line-height: 8.2rem;
	margin: 18.2rem auto 0;
}

.main {
	width: 100vw;
}

.main__time_PRC {
	text-align: center;
	margin: 3% 0 0;
	font-family: Space Mono;
	font-size: 2rem;
	font-feature-settings: 'calt' 0, 'liga' 0;
}

.article__img_float {
	float: left;
	margin: 0 2rem 0 0;
	width: 48%;
}

.article {
	font-family: Space Mono;
	font-size: 2rem;
	width: 81rem;
  	margin: 5% auto 0;
  	height: 28.6rem;
  	line-height: 2.962rem;
}

.article__text_scrolling {
	margin-left: calc(48% + 2rem);
	display: -webkit-box;
  	-webkit-line-clamp: 8;
  	-webkit-box-orient: vertical;  
  	overflow: scroll;
  	padding: 1.2rem 0 0 0;
 }

.article__date_overtext {
 	display: inline-block;
 	position: relative;
 	bottom: 4rem;
}

.article__headline_big {
	display: inline-block;
 	position: relative;
 	right: 13.3rem;
 	bottom: 1rem;
 	font-size: 2.5rem;
 	padding: 0 0 0.2rem 0;
 	line-height: 3.703rem;
}

.article__hashtag_red {
	color: #FFFFFF;
	background-color: #FF0000;
	width: 8.6rem;
	margin-left: calc(48% + 2rem);
}