@import url(reset.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

.header {
	font-family: Helvetica;
	font-size: 2rem;
	background-color: #F8BFC7;
	height: 9rem;
	width: 100vw;
	display: flex;
	align-items: center;
	gap: 3rem;
	padding: 0 5rem;
	font-weight: bold;
}

.header a {
	text-decoration: none;
	color: #000000;
}

.menu {
	flex-grow: 1;
	text-align: right;
}

.top {
	background-image: url(../img/background.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 64.3rem;
	background-color: #336fd1;
	position: relative;
	font-weight: bold;
}

form {
	border: 0.3rem solid #FFFFFF;
	border-radius: 2rem;
	background-color: #F8BFC7;
	display: flex;
	flex-direction: column;
	width: 30rem;
	font-family: Helvetica;
	font-size: 2rem;
	color: #FFFFFF;
	padding: 1.4rem 3rem 0rem;
	position: absolute;
	top: 9rem;
	left: 9rem;
	height: 36.2rem;
}

label, input {
	padding-top: 1.6rem;
}

input {
	font-family: Times New Roman;
	background: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
	background-color: #F8BFC7;
	font-size: 2rem;
}

input:focus {
	font-family: Times New Roman;
	color: #FFFFFF;
	font-size: 2rem;
	outline-color: #FFFFFF;
}

::placeholder {
	color: #FFFFFF;
	opacity: 1;
}

input[type="submit"] {
	background-color: #FEB700;
	border: 0.3rem solid #FFFFFF;
	border-radius: 3rem;
	padding: 2rem 3.3rem;
	margin: 0 0 0 1.7rem;
	position: relative;
	top: 5rem;
	color: #FFFFFF;
	width: 20rem;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}

.bottom {
	background-color: #336fd1;
	height: 30vw;
	width: 100vw;
	font-family: Helvetica;
	font-size: 5rem;
	color: #FEB700;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
} 

.footer {
	font-family: Helvetica;
	font-size: 2rem;
	background-color: #F8BFC7;
	height: 9rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	padding: 0 5rem;
	color: #FFFFFF;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}