@import url(reset.css);

.name-container {
	background-color: #E5E000;
	width: 1440px;
	height: 200px;
}

.name-container h1 {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 200px;
	color: #FFFFFF;
	padding-left: 80px;
}

.image-container {
	background-image: url(../img/img.jpg);
	width: 1440px;
	height: 1080px;
}

.navigation {
	background-color: #E5E000;
	width: 1440px;
	height: 100px;
}

.navigation-container{
	padding-left: 80px;
}

.navigation-container a {
	font-family: Helvetica;
	font-size: 25px;
	line-height: 100px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
}

.information {
	width: 1440px;
	height: 847px;
}

.information-container {
	width: 1280px;
	height: 637px;
	font-family: Helvetica;
	font-size: 50px;
	padding-left: 80px;
}

.information-container h1 {
    font-weight: bold;
}

.footer {
	background-color: #E5E000;
	width: 1440px;
	height: 200px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 80px 77px;
}

.footer div {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 200px;
	text-align: right;
	color: #FFFFFF;
	padding-right: 80px;
}