@import url(reset.css);

.title {
	background-color: #FE1A19;
	height: 60px;
	width: 1440px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20px;	
	line-height: 60px;
	color: #FFFFFF;
	padding-left: 20px;
}

.title h1, a {
	display: inline;
}

.title a {
	padding-left: 390px;
	color: #FFFFFF;
}

.recipe-container {
	height: 904px;
	width: 1440px;
	font-size: 0;
	position: relative;
}

.recipe-container section {
    width: 400px;
    height: 800px;
    box-sizing: border-box;
    border: 5px solid #E5E000;
    border-radius: 30px;
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    padding-left: 33px;
}

section h1 {
	font-family: Helvetica;
	font-weight: bold;
}

section p {
	font-family: Times New Roman;

}

footer {
	font-family: Times New Roman;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
	background-color: #FE1A19;
	color: white;
	height: 60px;
	width: 1440px;
	padding-left: 20px;
}

.recipe1 {
	position: absolute;
	top: 52px;
	left: 70px;
	white-space: pre;
	text-align: justify;
}

.recipe2 {
	position: absolute;
	top: 52px;
	left: 520px;
	white-space: pre;
	text-align: justify;
}

.recipe3 {
	position: absolute;
	top: 52px;
	right: 70px;
	white-space: pre;
	text-align: justify;
}