@import url(reset.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

/* Хедер */

.header {
	background-color: #FFFFFF;
	width: 100%;
	font-family: Arial;
	font-size: 5rem;
	line-height: 14rem;
	color: #E50043;
	position: fixed;
}

.header-container {
 	display: flex;
}

.span {
	margin: 0 5rem 0 auto;
	display: flex;
}

.span a {
	color: #E50043;
	text-decoration: none;
}

.header-container h1 {
	margin-left: 5rem;
}

.middle-link {
	margin: 0 2.5rem;
}

/* Основной блок */

.main {
	padding-top: 14rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2.5rem;
	line-height: 2.9rem;
	font-family: Arial;
}

/* Секция 1 */

.hero-container {
	background-image: url(../img/evian_origins_logo.png);
	background-position: center;
	background-size: cover;
	height: 95rem;
	width: 100%;
	font-size: 10rem;
	color: #E50043;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Секция 2 */


.img-container {
	width: 104rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*разделы с текстом */

.text-info {
	border: 0.3rem solid #F8BFC7;
	border-radius: 2rem;
	width: 104rem;
	padding: 2.4rem;
	margin: 15rem 0;
}

.first h1, .first p {
	letter-spacing: 0.12rem;
}

.text-info h1, .text-info p, .text-info ul {
	padding-bottom: 2.9rem;
}

/*разделы с фото */

.type1 {
	height: 86.3rem;
	width: 28.1rem;
}

.type2 {
	height: 86.3rem;
	width: 27.9rem;
}

.type3 {
	height: 86.3rem;
	width: 28.0rem;
}

figcaption {
	margin: 4.2rem 0 0;
}

.photo {
	background-repeat: no-repeat;
	text-align: center;
	margin-bottom: 10rem;
}

/* крайний див */

.img-bottom {
	float: left;
	padding: 0 8rem;
}

.second {
	padding: 3rem;
	letter-spacing: 0.05rem;
	margin-top: 15.6rem;
}

/* футер */

.footer {
	background-color: #F8BFC7;
	width: 100%;
	height: 14rem;
	font-family: Arial;
	font-size: 5rem;
	line-height: 14rem;
	color: #FFFFFF;
	text-align: left;
	padding-left: 50px;
}