.container {
  display: grid;
  margin: 0 5rem;
  grid-template-columns: minmax(min-content, 250px) 6fr 2fr minmax(min-content, 2fr);
  /* fraction
   2 + 6 + 2 + 2 = 12
   6 / 12 = 0.5 ---> 50%
  */
  grid-template-rows: 5rem;
  grid-gap: 2rem 1rem;
  grid-template-areas:
    "logo logo menu menu"
    "offer content content posts"
    "team team team team"
    "footer footer footer footer";
}

.logo {
  grid-area: logo;
  align-self: center;
}

.main-menu {
  grid-area: menu;
  /* align-self: center;
  justify-self: end; */
  place-self: center end;
}

.special-offer {
  grid-area: offer;
  align-self: center;
}

.special-offer img {
  max-width: 250px;
}

.content-area {
  grid-area: content;
}

.latest-posts {
  grid-area: posts;
  justify-self: end;
}

.footer {
  grid-area: footer;
}

.team {
  grid-area: team;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: max-content;
  /* auto-fit auto-fill */
  grid-auto-rows: minmax(min-content, max-content);
}

.team-member {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.special {
  grid-row: 3 / 4;
}

.team-member__image {
  border-radius: 50%;
  max-width: 100%;
}

.team-member__description {
  text-align: center;
}

