* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html { 
	font-size: 10px;
}

.header {
	height: 6rem;
	background-color: #FE1A19;
	font-family: Helvetica;
	font-size: 2rem;
	line-height: 6rem;
	color: white;
	padding-left: 2rem;
	font-weight: bold;
}

.main {
	background-color: white;
	text-align: center;
	padding-top: 5.2rem;
	padding-bottom: 5.2rem;
	font-size: 0;
}

.main section {
	width: 40rem;
	border: .5rem solid #E5E000;
	border-radius: 3rem;
	font-size: 2rem;
	line-height: 2.3rem;
	padding: 3.3rem;
	display: inline-block;
	text-align: left;
}

.main h1 {
	font-family: Helvetica;
	font-weight: bold;
	padding-bottom: 1.8rem;
}

.main ul, .main h2 {
	font-family: Times New Roman;
}

.main h2 {
	padding-top: 2.3rem;
}

.middle {
	margin-right: 5.0rem;
	margin-left: 5.0rem;
}

.footer {
	height: 6.0rem;
	background-color: #FE1A19;
	font-family: Helvetica;
	font-size: 2.0rem;
	line-height: 6.0rem;
	color: white;
	padding-left: 2.0rem;
	font-weight: bold;
}