* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 100%;
	font: inherit;
}

html { 
	font-size: 62.5%;
}

:root {
  --font-primary: Helvetica;
  --font-secondary: Times New Roman;
  --font-size-primarily: 2rem;
  --padding-primarily: 2rem;
  --margin-middle: 5rem;
  --height-primarily: 6rem;
  --color-first: white;
  --color-second: #FE1A19;
  --title-weight: bold;
}

.header {
	height: var(--height-primarily);
	background-color: var(--color-second);
	font-family: var(--font-primary);
	font-size: var(--font-size-primarily);
	line-height: var(--height-primarily);
	color: var(--color-first);
	padding-left: var(--padding-primarily);
	font-weight: var(--title-weight);
}

.main {
	background-color: var(-color-first);
	text-align: center;
	padding: 5.2rem 0;
	font-size: 0;
}

.main section {
	width: 40rem;
	border: .5rem solid #E5E000;
	border-radius: 3rem;
	font-size: var(--font-size-primarily);
	line-height: 2.3rem;
	padding: 3.3rem;
	display: inline-block;
	text-align: left;
}

.main h1 {
	font-family: var(--font-primary);
	font-weight: var(--title-weight);
	padding-bottom: 1.8rem;
}

.main ul, .main h2 {
	font-family: var(--font-secondary);
}

.main h2 {
	padding-top: 2.3rem;
}

.middle {
	margin-right: var(--margin-middle);
	margin-left: var(--margin-middle);
}

.footer {
	height: var(--height-primarily);
	background-color: var(--color-second);
	font-family: var(--font-primary);
	font-size: var(--font-size-primarily);
	line-height: var(--height-primarily);
	color: var(--color-first);
	padding-left: var(--padding-primarily);
	font-weight: var(--title-weight);
}