@import url(reset.css);

.logo-container {
	height: 140px;
	width: 1440px;
	background-color: #FFFFFF;
	background-image: url(../img/evian.png);
	background-repeat: no-repeat;
	background-position: 50px 50px;
	line-height: 140px;
	text-align: right;
	padding-right: 50px;
	font-family: Arial;
	font-size: 50px;
	position: fixed;
	box-sizing: border-box;
}

.logo-container a {
	color: #E50043;
}

.hero-container {
	height: 950px;
	width: 1440px;
	background-image: url(../img/evian_origins_logo.png);
	background-repeat: no-repeat;
	background-position: 0px 140px;
	font-family: Arial;
	font-size: 100px;
	color: #E50043;
	text-align: center;
}

.hero-container h1 {
	position: relative;
	top: 525px;
}


